<link rel="stylesheet" type="text/css" href="/assets/css/addEmployee.css">
<form id="createEmployeeForm" action="/feedback/create" method="post">
    <div id="interviewDetailsContainer2">
        <label for="employeeListView">Select Employee for feedback : </label>
        <select name="employee" id="employeeListView" required>
            <% for(employee of employees){ %>
                <option value="<%= employee.id %>">
                <%= employee.name %>
                </option>       
            <% } %>
        </select>
    </div>
    <div class="dropdownContainer">
        <label>Team Work : </label>
        <select name="teamwork" required>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
        <label required>Communication : </label>
        <select name="communication" required>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
    </div>
    <div class="dropdownContainer">
        <label >Accuracy Of Work : </label>
        <select name="accuracyOfWork" required>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
        <label>Attendance : </label>
        <select name="attendance" required>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
    </div>
    <div id="remarksContainer">
        <label for="remarksTextView">Remarks : </label>
        <textarea id="remarksTextView" name="remarks" placeholder="Enter remarks" required></textarea>
    </div>
    <input id="addStudentButton" class="btn btn-primary" type="submit" value="Submit" />
</form>