#container {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#remarksContainer
{
  border: 1px solid black;
  justify-content: center;
  text-align: center;
  height: 100px;
  width: 300px;
  padding: 15px;
  margin: 25px;
}